@{

}
<h1>@ViewData["Title"]</h1>
<h2>Technician List</h2>
<a asp-controller="Product" asp-action="Add">Add New Technician</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr><th>Name</th><th>Email</th><th>Phone</th><th></th><th></th></tr>
    </thead>
    <tbody>
        <tr>
            <td>Technician Name</td>
            <td>Email</td>
            <td>Phone</td>
            
            <td>

                <a asp-controller="Product" asp-action="Update" asp-route-id=""
                   asp-route-slug="" class="btn btn-primary w-100">
                    Edit
                </a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="Delete" asp-route-id=""
                   asp-route-slug="" class="btn btn-primary w-100" style="color:white;">
                    Delete
                </a>

            </td>
        </tr>
    </tbody>
</table>
