@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">SportsPro Technical Support</h1>
        <p>Sports management software for the sports enthusiast.</p>
        <h1 class="text-left">Admin</h1>
        <div class="indexOptions">
            <a asp-action="Product">Manage Products</a>
            <a asp-action="Technician">Manage Technicians</a>
            <a asp-action="Customer">Manage Customers</a>
            <a asp-action="Incident">Manage Incidents</a>
            <a asp-action="Registration">Manage Registrations</a>
        </div>
        <h1 class="text-left">Technicians</h1>
        <div class="indexOptions">
            <a asp-action="Incident">Update Incident</a>
        </div>
    </div>
